.carousel_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: large;
  margin-top: 2rem;
  gap: 0.625rem;
  width: 100%;
  max-width: 1100px;
}

.carousel_wrapper h2 {
  font-weight: 500;
}

.carousel_wrapper button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 55%;
  height: 26px;
  width: 26px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
  border: none;
  cursor: pointer;
}

.carousel_wrapper button:nth-of-type(1) {
  left: -12px;
}

.carousel_wrapper button:nth-of-type(2) {
  right: -12px;
}

/* TODO: 버튼중 첫번째 자식에 적용되는줄 알았는데 안됨 */
/* .carousel_wrapper button:first-child {
  left: -12px;
}

.carousel_wrapper button:last-child {
  right: -12px;
} */

.carousel_wrapper button:active {
  transform: translateY(-50%) scale(0.8);
}

.carousel {
  display: flex;
  gap: 0.625rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: 0;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

.card {
  scroll-snap-align: start;
  width: 16rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  margin-bottom: 18px;
  border-radius: 0.375rem;
  border: 0.0625rem solid #f3f4f6;
  box-shadow: 0 0.2rem 0.375rem rgba(0, 0, 0, 0.1);
}

.card h3 {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 0.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card p {
  margin: 0.25rem 0;
  color: #6b7280;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card time {
  font-size: small;
  color: #d1d5db;
}
