@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #2492ff;
  --dark-primary-color: #e8871e;
  --accent-color: #eb4c3d;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  max-width: 48rem;
  height: 100vh;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.global_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5rem 0 4rem 0;
}

.global_logo {
  font-size: xx-large;
  font-weight: bold;
  text-decoration: var(--primary-color) wavy underline;
  text-decoration-thickness: 0.125rem;
}

.global_logo:hover {
  color: var(--primary-color);
}

a:is(:link, :active, :visited).active {
  color: var(--primary-color);
}

.global_nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.active_icon {
  display: none;
}

.active_icon.active {
  display: block;
  color: var(--primary-color);
}

/* .active_icon {
  display: none;
}

a:hover .basic_icon {
  display: none;
}

a:hover .active_icon {
  display: block;
  color: var(--primary-color);
} */

.global_nav li:last-child a:hover .active_icon {
  color: inherit;
}

.global_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: small;
  padding: 1.5rem 0 1.5rem 0;
  margin: auto auto 0 auto;
}

.global_footer-icons {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  gap: 1rem;
}
